<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/invoice.css">
    <script src="/js/jsPDF.js"></script>
    <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
    <script src="/js/downloadPDF.js"></script>
    <title>Tr-invoice</title>
</head>
<body>
    {{> _header}}
    {{{body}}}
</body>
</html>