<body>
    <br>
    <div class="card customers">
        <h1><b>customers</b></h1>
        <h6>Sign in with your Google Account</h6>
    </div>
     <hr>
    <div class="foot">

        <h3>The smart Invoice</h3>
        <h6><a href="#">Disclaimer</a>|<a href="#">Privacy police</a>|<a href="#">Reports</a>|<a href="#">News</a>|<a
                href="#">Contact us</a>|<a href="#">About Us</a></h6>
        <h6>© 2022-2022 TR-invoice. All rights reserved. Version: 1.0.0</h6>
        <br>

    </div>
</body>